#section0 .subti {

	font-size: 2em;
		font-family: arial,helvetica;
		color: #fff;
		margin:0;
		padding:0;
}
#section1 h2{
		font-size: 3em;
		font-family: arial,helvetica;
		color: #fff;

}
#facelink
{
position: fixed;
z-index:99; 
top: 0; 
right: 0; 
border: 0;

}

 #MenusGal{
	position:fixed;
	bottom: 10px;
	right:10px;
	z-index: 999;
 }

h1{
		font-size: 5em;
		font-family: arial,helvetica;
		color: #fff;
		margin:0;
		padding:0;
	}

	/* Centered texts in each section
	* --------------------------------------- */
	.section{
		text-align:center;
	}


	/* Backgrounds will cover all the section
	* --------------------------------------- */
	#section0,
	#section1
	
	{
		background-size: cover;
	}

	/* Defining each sectino background and styles
	* --------------------------------------- */
	#section0{
		background-image: url(../imgs/Carlos_Montes/fig1c.jpg);
		padding: 30% 0 0 0;
	}
	#section1{
		background-image: url(../imgs/Carlos_Montes/fondo.jpg);
		padding: 6% 0 0 0;
	}




 	/*Adding background for the slides
	* --------------------------------------- */
	#slide1{
		background-image: url(../imgs/Carlos_Montes/fig1c.jpg);
		padding: 6% 0 0 0;
		background-size: cover;
		background-position: center;
	}
		
	#slide2{
		background-image: url(../imgs/Carlos_Montes/fig2c.jpg);
		padding: 6% 0 0 0;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
	#slide3{
		background-image: url(../imgs/Carlos_Montes/fig3c.jpg);
		padding: 6% 0 0 0;
		background-size: cover;
	}
	#slide4{
		background-image: url(../imgs/Carlos_Montes/fig4c.jpg);
		padding: 6% 0 0 0;
		background-size: cover;
	}

	/* Bottom menu
	* --------------------------------------- */
	#infoMenu li a {
		color: #fff;
	}